

#pes{
    background: yellow;
    border: 2px solid deepskyblue;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    height: 100px;
    width: 100px;
}

div {
    transition-delay: 1ms;
}

#pes:hover {
    transform: translate(200px, 200px);
}